<!DOCTYPE html>
<header>
      <div class="header-logo">
        <%= link_to("Chi-kawa", "/") %>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("Chi-kawaとは", "/about") %>
        </li>
        <li>
          <%= link_to("投稿一覧", "/posts/index") %>
        </li>
        <li>
          <!-- ここに新規投稿ページへのリンクを追加してください -->
          <%= link_to("新規投稿", "/posts/new") %>
        </li>
      </ul>
    </header>
    <%= yield %>

<html>
  <head>
    <title>ちいかわファンクラブ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

